.header {
  display: flex;
}

.logo {
  width: 128px;
}

.title {
  padding-left: 32px;
}

#page-title {
  grid-area: title;
}

#edit-form {
  grid-area: edit;
}

#image {
  grid-area: image;
}

.form-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  gap: 10px;
  padding: 10px;
}

#edit-description {
  max-height: 100%;
  min-height: 200px;
}

#meta-edit-image {
  max-width: 100%;
  max-height: 100%;
}

#edit-main {
  display: grid;
  gap: 10px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "title title"
    "edit image";
}

#coolness-factor-values {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
}

#formSubmitButton {
  background-color: greenyellow;
  font-size: large;
}

#footnote {
  background-color: sandybrown;
  padding: .3rem;
  margin-top: .5rem;
}